body{
  background-image: linear-gradient(#050430, #E69D0C);
  
}

header{
  background-image: url("images/Mural_El_Paso.jpg");
  background-size: 100% 100%; 
  padding-bottom: 10%;
}
h1{
  text-align: center;
  font-family:"Lucida Console", "Monospace";
  color:white;
   background-repeat:no-repeat;
  font-size: 500%;
  padding-top: 13%
}
.box1{
  text-align: center;
  font-family: Tahoma, Geneva, sans-serif;
  line-height:1.5em;
  margin-left: 29%;
  margin-right:29%;
  width: 42%
}


body {
  height: 100vh;
  font-size: 120%;
}

ul{
  list-style: none;
  margin-left: 35%;
	width: 60%;
  margin-top: 10%;
  
}

li{
  display:block;
	width:12%;
	float:left;
	margin-left:2%;
	border:2px solid #E69D0C;
  text-align: center;
  
}
.nav a{
  display:block;
	padding:2%;
	text-decoration:none;
	background-color:rgba(0,0,0,0.0);
	color:#ffffff;
  font-family: Tahoma, Geneva, sans-serif;
}

.nav a:hover{
  color:#E69D0C;
}

li:hover{
  background-color: #050430;
}

br{
  padding: 0px;
  border: 0px;
  margin: 0px;
}


#slider{
  overflow: hidden;
}

#slider figure{
  position:relative;
  margin:0;
  left:0;
  animation: 20s slider infinite;
  width: 500%;
  
}

#slider figure img {
  width: 20%;
  float: left;
}

@keyframes slider{
  0%{
    left: 0;
  }
  20%{
    left: 0;
  }
  25%{
    left: -100%;
  }
  45%{
    left: -100%;
  }
  50%{
    left: -200%;
  }
  70%{
    left: -200%;
  }
  75%{
    left: -300%;
  }
  95%{
    left: -300%;
  }
  100%{
    left: -400%;
  }
}

footer{
  text-align: center;
  float: left;
  bottom: 0;
  width:100%;
  margin-top: 250px;
  margin-left: 15px;
}
#fonterasLink{
  color: white;
}

nav{
  padding-bottom: 5%;
}